<body>

  <!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BairroConnect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#T1">Sobre </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Justificativa  </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
<div class="conteudo">

  <div class="imagem">
      <img src="assets/IMG/Logo.jpg"  class="rounded-circle"  id="box1" alt="...">
  </div>

  <div class="text">
      <p >  Nós decidimos optar por este tema, pois muitos eventos que são anunciados em um bairro acabam <br>não tendo a devida divulgação.
       Por isso,
       nós oferecemos uma plataforma que facilita a descoberta e a participação de eventos <br>de todos os tipos e para todos os gostos.
       Então pensamos numa ideia para aume
       ntar a divulgação com o BairroConnect, <br> um aplicativo feito para ajudar as pessoas a localizarem atrações e eventos num bairro..</p>
  </div>


</div>


<div class="conteudo2">

  <div class="text2">
      <p>Nós somos uma empresa começando no ramo de marketing, onde nós focamos em auxiliar <br> organizadores de eventos e empresas na
        divulgação de seus eventos e distribuições.<br> Percebemos que muitos
        eventos acabam não gerando muito público por conta dessa falta de divulgação,<br>
        então resolvemos criar o BairroConnect, um aplicativo que auxilia nessa busca.<br> Um aplicativo fácil de utilizar,
        simples de entender e com muitas funcionalidades para enriquecer sua experiência.
  </div>


  <div class="imagem2">
    <img src="assets/IMG/LogoEmpresa.jpg"  class="rounded-circle" id="box2" alt="...">
  </div>

  </div>


</body>

