


/*
.container img,
.container p {
display: inline-block;
vertical-align: top;  Isso alinha o texto ao topo da imagem
color: #FFFFFF;
text-align:justify;
margin-top: 40px;

}

  background-color: #0d6efd; */
