<body>
  <div class="conteudo">

  <div class="imagem">
      <img src="assets/IMG/Logo.jpg"  class="rounded-circle"  id="box1" alt="...">
  </div>

  <div class="text">
      <p >  Nós decidimos optar por este tema, pois muitos eventos que são anunciados em um bairro acabam <br>não tendo a devida divulgação.
       Por isso,
       nós oferecemos uma plataforma que facilita a descoberta e a participação de eventos <br>de todos os tipos e para todos os gostos.
       Então pensamos numa ideia para aume
       ntar a divulgação com o BairroConnect, <br> um aplicativo feito para ajudar as pessoas a localizarem atrações e eventos num bairro..</p>
  </div>


</div>



<h1 class="titulo"> Valores</h1>

<div class="container">
<div class="row">

<div class="col-md-3">

  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Qualidade:</h5>
      <hr>
      <p class="card-text"> Nós prezamos pela qualidade dos eventos que divulgamos, dos parceiros que trabalhamos e do serviço que prestamos.
        <br>
        <br>
        <br>
      </p>
    </div>
  </div>
  </div>


<div class="col-md-3">

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Conexão:</h5>
    <hr>
    <p class="card-text"> Nós acreditamos que os eventos são uma forma de conectar as pessoas,
       de compartilhar experiências, de aprender e de se divertir.
       <br>
       <br>
      </p>

  </div>
</div>
</div>

<div class="col-md-3">

  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Experiência</h5>
      <hr>
      <p class="card-text">Nós queremos que os nossos usuários tenham a melhor experiência possível, desde a busca até a avaliação dos eventos.
        <br>
        <br>
        <br>
      </p>
    </div>
  </div>
  </div>

  <div class="col-md-3">

    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Diversidade:</h5>
        <hr>
        <p class="card-text">
           Nós queremos que os nossos usuários encontrem eventos que representem a sua identidade,
          que ampliem os seus horizontes e promovam a inclusão e o diálogo.</p>
      </div>
    </div>
    </div>

</div>
</div>

<br>
<br>
<br>
<br>


</body>
