<body>
<br>



<h1  class ="titulo" id="T1"> Sobre Nós </h1>

<div class="conteudo2">

<div class="text2">
    <p>Nós somos uma empresa começando no ramo de marketing, onde nós focamos em auxiliar <br> organizadores de eventos e empresas na
      divulgação de seus eventos e distribuições.<br> Percebemos que muitos
      eventos acabam não gerando muito público por conta dessa falta de divulgação,<br>
      então resolvemos criar o BairroConnect, um aplicativo que auxilia nessa busca.<br> Um aplicativo fácil de utilizar,
      simples de entender e com muitas funcionalidades para enriquecer sua experiência.
</div>


<div class="imagem2">
  <img src="assets/IMG/LogoEmpresa.jpg"  class="rounded-circle" id="box2" alt="...">
</div>

</div>

<br>





<br>
<br>
<br>
<br>





</body>
